html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #816969;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    flex-direction: column;
    border-radius: 10px;

}
h2{
    text-align: center;
    margin-top: -30px;
}
a{
    text-align: center;
}
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
    }

    input#email {
    padding: 5px; /* beri ruang untuk ikon */
    background-image: url('../icon/user-solid.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    border-radius: 10px;
    
    
    }

    input#pass {
        padding: 5px;
        background-image: url('../icon/lock-solid.svg');
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px 20px;
        border-radius: 10px;
    }
