body{
    margin: 0;
    background-image: url(../img/hypernet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto";
    justify-items: center;
}

.container{
    width: 100%;
}

.tabel{
    margin: 0;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px ;
    justify-content: center;
    align-content: center;
    border: 1px solid;
    width: 100%;
    height: 757px;

}

.tabel{
    border: 3px;
    
}

.card{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 100px 250px 50px;
}


.card_header{
    background-color: rgb(0, 193, 159);
}

.card h2,form{
    padding-left: 20px;
}

.card h3{
    color: rgb(0, 0, 0);
    padding-left:20px;
}

.card p{
    font-size: 12px;
    padding-left: 20px;
}

.card h2{
    color: white;
}

.card input{
    width: 80%;
    background-color: white;

}

form #login{
    display: flex; /* Menggunakan Flexbox untuk form */
    flex-direction: column; /* Mengatur arah kolom */
    align-items: center; /* Memusatkan konten secara horizontal */
    width: 50%;
    margin-left: 20%;
    background-color: rgb(0, 193, 159);
    color: rgb(255, 255, 255);
    height: 35px;
}

form input{
    height: 25px;
    border: none;
    border-bottom: 1px solid;
}

form input:focus{
    outline: none;
}

.box-2 img{
    width: 400px;
}

.box-1{
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box-2{
    border-left: 1px solid;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login:hover{
    cursor: pointer;
}



@media (max-width: 820px) {
    .container {
      max-width: 720px;
    }

    .tabel{
        grid-template-columns: 350px 350px;
        grid-template-rows: 350px ;
    }
    
    .card{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 75px 225px 50px;
    }
    
    .card h2,form{
        padding-left: 20px;
    }
    
    .card h3{
        color: rgb(0, 0, 0);
        padding-left:20px;
    }
    
    .card p{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 10px;
    }  
    
    .card input{
        width: 70%;
    }    
    
    .box-2 img{
        width: 350px;
    }   
  }
 

  @media (max-width: 730px) {
    body{
        font-size: 14px;
    }

    .container {
      max-width: 620px;
    }

    .tabel{
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px ;
    }
    
    
    .card{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 75px 175px 50px;
    }
    
    .card h2,form{
        padding-left: 20px;
    }
    
    .card h3{
        color: rgb(0, 0, 0);
        padding-left:20px;
        margin-top: 10px;
    }
    
    .card p{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 10px;
    }  
    
    .card input{
        width: 70%;
    }    
    
    .box-2 img{
        width: 300px;
    }   

    .card #login{
        margin-top: -15px;
        height: 30px;
    }
  }

  @media (max-width: 619px) {
    body{
        font-size: 17px;
    }

    .container {
      max-width: 520px;
    }

    .tabel{
        grid-template-columns: 400px;
        grid-template-rows: 400px ;
    }
    
    
    .card{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 100px 225px 75px;
    }
    
    .card h2,form{
        padding-left: 20px;
    }
    
    .card h3{
        color: rgb(0, 0, 0);
        padding-left:20px;
        margin-top: 20px;
    }
    
    .card p{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 30px;
    }  
    
    .card input{
        width: 70%;
    }    
    
    .box-2 img{
        display: none;
    }   

    .card #login{
        height: 35px;
    }

    .box-1{
        border-radius: 5px;
    }
    
  }
 

  @media (max-width: 519px) {
    body{
        font-size: 13px;
    }

    .container {
      max-width: 420px;
    }

    .tabel{
        grid-template-columns: 300px;
        grid-template-rows: 300px ;
    }
    
    
    .card{
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 75px 175px 50px;
    }
    
    .card h2,form{
        padding-left: 20px;
    }
    
    .card h3{
        color: rgb(0, 0, 0);
        padding-left:20px;
        margin-top: 10px;
    }
    
    .card p{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 10px;
    }  
    
    .card input{
        width: 70%;
    }    
    
    .box-2 img{
        display: none;
    }   

    .card #login{
        height: 30px;
    }

    .box-1{
        border-radius: 5px;
    }
    
  }