html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #21ac97;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
  top: calc(50% - 275px); 
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background-color: #d9d9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
    width: 40px;
  height: 50px;
  
  
}
.container {
    width: 419px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 2px 4px grey;

}

h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: -1px;
}

p{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: gray;
}
a{
    text-align: center;
    font-style: normal;
    color: gray;
}
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

   

    input#email {
    padding: 6px;
        margin-top: -30px;
        background-image: url('../icon/padlock.svg');
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px 20px;
        border-radius: 8px;
        background-color: white;
        border:1px groove rgba(0, 0, 0, 0.3);
        outline: none;
        padding-left: 40px;
        box-shadow: 0px 3px 10px grey;
    }

   


    button.sub {
        padding: 5px 8px;
        margin-bottom: -10px;
        width: 60%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        background-color:#20bba4;
        color: white;
        border:0.5px groove rgba(117, 107, 107, 0.2);
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 3px 10px grey;
    }
        button:hover.sub {
        background-color: #1ba38a;
        box-shadow: 0px 3px 10px grey;
    }

    input#email::placeholder,
input#pass::placeholder,input#user::placeholder {
  color: #816969;
  opacity: 1;
}
