html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;              /* selalu penuh tinggi layar */
    width: 100%;                    /* penuh lebar layar */
    background-repeat: no-repeat;
    background-size: cover;          /* gambar menyesuaikan ukuran layar */
    background-position: center;     /* posisi gambar di tengah */
    background-attachment: fixed;    /* opsional: biar efek parallax */
    background-color: #00AA8B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}


.container {
    width: 419px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.container img{
    width: 20%;
    height: auto;
    margin-bottom: 10px;
}

h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: -1px;
}

p{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: italic;
    color: gray;
    display: block;
}
a{
    text-align: center;
    font-style: normal;
    font-size: 13px;
    color: #00AA8B;
    text-decoration: none;
}
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    label{
        text-align: left;
    }
    input#email {
        padding: 6px;
        margin-top: -30px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        background-repeat: no-repeat;
        background-position: 5px center;
        background-size: 20px 20px;
        border-radius: 8px;
        transition: border .3s ease-in-out;
        background-color: aliceblue;
        outline: none;
        padding-left: 10px;
        padding-right: 30px;
    }

    input#email:focus{
        border-color: #169687;
    }
    button.sub {
        padding: 5px 8px;
        margin-bottom: -10px;
        margin-top: -15px;
        width: 60%;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        background-color: #41AC98;
        color: white;
        border:0.5px groove rgba(117, 107, 107, 0.2);
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 3px 10px grey;
        text-decoration: bold;
    }
        button:hover.sub {
        background-color: #01a08b;
        box-shadow: 0px 3px 10px grey;
    }

    input#email::placeholder,
input#pass::placeholder,input#user::placeholder {
  color: #816969;
  opacity: 1;
}
