html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;              /* selalu penuh tinggi layar */
    width: 100%;                    /* penuh lebar layar */
    background-repeat: no-repeat;
    background-size: cover;          /* gambar menyesuaikan ukuran layar */
    background-position: center;     /* posisi gambar di tengah */
    background-attachment: fixed;    /* opsional: biar efek parallax */
    background-color: #00AA8B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}


.container {
    width: 419px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.container img{
    width: 8%;
    height: auto;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #00AA8B;
}

img{
    width: 20px;
    height: auto;
}
h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: -1px;
}

p{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: italic;
    color: gray;
    display: block;
    margin-top: -5px;
}
a{
    margin-top: -10px;
    text-align: center;
    font-style: normal;
    font-size: 13px;
    color: #00AA8B;
    text-decoration: none;
}
a:hover{
    color: #00967f;
    text-decoration: underline;
}
    form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    form img,
form h2{
    align-self: center;
    width: 100%;
}
    
    label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
}

    input#email {
    width: 100%;           /* disamakan dengan button */
    padding: 8px 12px;    /* padding seimbang */
    margin-top: -25px;    /* boleh disesuaikan */
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border .3s ease-in-out;
    background-color: aliceblue;
    outline: none;
    }

    input#email:focus{
        border-color: #169687;
    }
    button.sub {
        align-self: center;
        padding: 6px 12px;
        margin-bottom: -10px;
        margin-top: -25px;
        width: 66%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        background-color: #41AC98;
        color: white;
        border:0.5px groove rgba(117, 107, 107, 0.2);
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 3px 10px grey;
        text-decoration: bold;
    }
        button:hover.sub {
        background-color: #01a08b;
        box-shadow: 0px 3px 10px grey;
    }

    input#email::placeholder,
input#pass::placeholder,input#user::placeholder {
  color: #816969;
  opacity: 1;
}
